.app-container {
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
  min-height: 85vh; /* vh stands for viewport height */
}

.sidebar {
  width: 200px;
  height: 100%;
  /* Additional styles for the sidebar */
}

.main-content {
  flex: 1;
  /* Additional styles for the main content */
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}