.app-container {
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
  min-height: 100vh; /* vh stands for viewport height */
}

.menu {
  width: 100%;
  min-height: 75%;
  background-color: #212C65;
  color: #ffffff;
}

.submenu {
  width: 100%;
  min-height: 100%;
  background-color: #212C65;
  color: #ffffff;
  &:hover {
    background-color: #212C65;
    color: #29a6cf;
  }
}

.submenu-item {
  color: #ffffff;
  background-color: #212C65;
  &:hover {
    background-color: #212C65;
    color: #212C65;
  }
}

.sidebar {
  min-height: 100%;
}

.menu-item {
  background-color: #212C65;
  &:hover {
    background-color: #212C65;
    color: #212C65;
  }
}

.main-content {
  flex: 1;
  padding-top:2%;
  padding-left: 2%;
  padding-right: 2%;
  /* Additional styles for the main content */
}

.fading-div {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translate(135%, 0); /* Center the div horizontally */
  width: 20%;
  height: 15%;
  background-color: rgb(75, 226, 34, 0.5);
  z-index: 10;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  border-radius: 10px;
}

.fading-div span {
  position: absolute; /* Position the span absolutely within the div */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the span horizontally and vertically */
  font-size: 20px; /* Increase the font size */
  text-align: center;
  margin: 0 auto;
  font-style: italic;
}

form {
  padding: 15px;
  width: 100%;
}

.form-column-region {
  display: flex;
  flex-direction: row;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  padding: 6px;
}

.field-label {
  display: block;
  width: 120px; /* Define label width */
  margin-right: 10px;
  text-align: right;
  padding-right: 10px;
}

.form-div {
  padding: 20px;
}

.submit-form-section {
  margin: 0 auto;
  padding: 10px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.form-column {
  display: flex;
  flex-direction: column;
  margin: 10px; /* Add spacing between columns */
  width: 40%; /* Define column width */
}

.form-region {
  display: flex;
  flex-direction: column;
}

.medication-section {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.form-long-answer {
  display: flex;
  flex-direction: column;
}

#calc-framework-top-bar {
  display: flex;
  flex-direction: horizontal;
}